click
cryptography
Flask
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
pymysql
pyparsing
pyserial
SQLAlchemy
typing_extensions
Werkzeug
zipp
ezdxf
pcb-tools
pcb-tools-extension
shapely
pyzmq

Pillow 
picamera 
cachetools