<%- include('../partials/header'); %>

<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <h2>Circuitprinter</h2>
                <a href="/simple_print">Simple Print</a>
                <a href="/registered_print">Registered Print</a>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

<%- include('../partials/footer'); %> 