<%- include('../partials/header'); %>

<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <h2>Settings</h2>
                <hr>
                <p><b>Calibrate the tools to a fiducial: </b><a href="/tool_calibration">Tool calibration</a></p>
                
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

<%- include('../partials/footer'); %> 