<%- include('../partials/header'); %>

<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <h2>Artwork</h2>
                <button type="submit" class="btn btn-primary">Start print</button>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

<%- include('../partials/footer'); %> 