{% extends 'base.html' %}

{% block content %}
<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <div class="jumbotron">
                    <h2>Omniprinter</h2>
                    <a class="btn btn-primary" href="/startup_system" role="button">System startup</a>

                    <a class="btn btn-primary" href="/step1_upload" role="button">Start a print</a>
                </div>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

{% endblock %} 