{% extends 'base.html' %}

{% block content %}
<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <!-- Thanks chatgpt... Finally got the crosshair working -->
                <style>
                    #crosshair {
                    position: relative;
                    }

                    #crosshair::before,
                    #crosshair::after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    }

                    #crosshair::before {
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    }

                    #crosshair::after {
                    left: 50%;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    }

                </style>

                <!-- Downward camera for calibration  -->
                <div id="preview"> 
                    <div id="crosshair"> 
                        <img id="preview_image" width=100%>
                    </div>    
                </div>
                <script src="{{ url_for('static', filename='cam_preview.js') }}"></script>
                
                <script>
                function ajaxpost () {
                    // TODO: Fix ajax so it moves all the axes, not just +x
                    
                    // (A) GET FORM DATA
                    const toolNumber = document.getElementById("toolNumber").value;
                    const x_axis = document.getElementById("x_axis").value;


                    var data = new FormData();
                    data.append("toolNumber", toolNumber);
                    data.append("x_value", x_axis);
                    console.log(data);
                    // (B) AJAX
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/printCalibration");
                    xhr.onload = function () {
                        // do something when server responds
                        console.log("This works");
                    };
                    xhr.send(data);
                    
                    // (C) PREVENT HTML FORM SUBMIT
                    return false;
                    }
                </script>                
                
                <!-- action="/printCalibration"  method="POST" -->
                <form onsubmit="return ajaxpost()" name="printCalibration" id="printCalibration">
                    <h3>Select a tool</h3>
                    <select class="form-select" name="toolNumber" id="toolNumber">
                        <option value="0">0</option> 
                        <option value="1">1</option> 
                        <option value="2">2</option> 
                        <option value="3">3</option> 
                    </select>
                    <p></p>
                    <button type="submit" class="btn btn-primary" name="getTool">Load tool</button>
                    <button type="submit" class="btn btn-primary" name="replaceTool">Unload tool</button>

                <hr>

                    <h3>Move the motion axes</h3>
                    <div class="row">
                        <div class="col"><p>Move the X axis (mm) </p></div> 
                        <div class="col">
                                <div class="btn-group" role="group" aria-label="X axis movement">
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="-10" class="btn btn-secondary"></input>
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="-1" class="btn btn-secondary"></input>
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="-0.1" class="btn btn-secondary"></input>
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="0.1" class="btn btn-secondary"></input>                    
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="1" class="btn btn-secondary"></input>
                                    <input type="button" onclick="ajaxpost()" id="x_axis" name="x_value" value="10" class="btn btn-secondary"></input>
                                </div>
                        </div>
                    </div>
                    
                    <div class="row">        
                        <div class="col"><p>Move the Y axis (mm)</p></div> 
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Y axis movement">
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="-10" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="-1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="-0.1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="0.1" class="btn btn-secondary"></input>                    
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="y_axis" name="y_value" value="10" class="btn btn-secondary"></input>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col"><p>Move the Z axis (mm)</p></div>
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Z zxis movement">
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="-10" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="-1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="-0.1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="0.1" class="btn btn-secondary"></input>                    
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="1" class="btn btn-secondary"></input>
                                <input type="button" onclick="ajaxpost()" id="z_axis" name="z_value" value="10" class="btn btn-secondary"></input>
                            </div> 
                        </div>
                    </div>    
                    
                    <p>                
                    <button type="submit" class="btn btn-success" name="saveLocation" value="camera">Set location</button>
                    </p> 
                </form> 

                <hr>

                <h3>Test GPIO</h3>
                    <div class="row">
                        <div class="col"><p>GPIO on</p></div> 
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Z axis movement">
                                <button type="submit" name="gpio_on" value="1" class="btn btn-secondary">1</button>                    
                                <button type="submit" name="gpio_on" value="2" class="btn btn-secondary">2</button>
                                <button type="submit" name="gpio_on" value="3" class="btn btn-secondary">3</button>
                                <button type="submit" name="gpio_on" value="3" class="btn btn-secondary">4</button>
                            </div>                           
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col"><p>GPIO off</p></div> 
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Z axis movement">
                                <button type="submit" name="gpio_off" value="1" class="btn btn-secondary">1</button>                    
                                <button type="submit" name="gpio_off" value="2" class="btn btn-secondary">2</button>
                                <button type="submit" name="gpio_off" value="3" class="btn btn-secondary">3</button>
                                <button type="submit" name="gpio_off" value="1" class="btn btn-secondary">4</button>                                                    
                            </div>                           
                        </div>
                    </div>                                           
                </form>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

{% endblock %} 