{% extends 'base.html' %}

{% block content %}
<!-- Main body -->
<div class="container">
    <div class="row">
        <div class="col">
        
        </div>
        <div class="col-6">
            <!-- Tool alignment -->
            <p></p>
            <p><b>Align the tools and set their home locations: <a href="/calibrate">Align tools</a></b></p>
            
            <p></p>
            <hr>

            <p><b> Calibrate the camera</b><i> (On click this runs a script to move to the charuco and save the resolution in settings.json)</i></p>
            <form action="/charuco" method="POST" name="runCharuco">
                <button type="submit" class="btn btn-primary">Get current resolution</button>
              </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>     
{% endblock %}