{% extends 'base.html' %}

{% block content %}
<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p> </p> 
                <h3>2. Show parsed artwork here with D3</h3> 
                <p> </p> 
                <a class="btn btn-primary" href="/step1_upload" role="button">Previous</a>
                <a class="btn btn-primary" href="/step3_config" role="button">Next</a>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

{% endblock %}