{% extends 'base.html' %}

{% block content %}
<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <div class="jumbotron">
                        <h3>Update Project Number {{project.id}}</h3>

                        <div class="list-group list-group-item list-group-item-action flex-column align-items-start">
                        <form action="/update/{{project.id}}" method="POST">

                            <p class="mb-1">Project name</p>
                            <p class="mb-1"><input type="text" name="content" id="content" value="{{project.content}}"></p>
                            <p class="mb-1"><label>Settings</label></p>
                            <p class="mb-1">
                                <textarea name="settings" id="settings">{{project.settings|tojson|safe}}</textarea>
                            </p>
                            <input type="submit" value="Update">
                        </form>



                    </div>

                </div>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

{% endblock %}