<%- include('../partials/header'); %>

<!-- Main body -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p></p>
                <h3>Printing</h3>
            </div> 
            <div class="col"></div> 
        </div> 
        </div> 

<%- include('../partials/footer'); %> 