<%- include('../partials/header'); %>

<!-- Main body -->
<div class="col-3"></div> 
<div class="col-6"></div> 
    <div class="container">
        <video id="videoPlayer" width="650" controls muted="muted" autoplay>
            <source src="/video"  />
            <!-- type="video/mp4" -->
          </video>
    </div>  
<div class="col-3"></div> 

<%- include('../partials/footer'); %>  